* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.8rem;
}

.container {
  max-width: 1450px;
  height: 100vh;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 4rem;
}

.left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: auto;

  gap: 2rem;
}

.logo-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
}

.logo-box img {
  width: 5rem;
  height: auto;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.text h2 {
  color: #000b0a;
}

.text p {
  color: #737373;
  line-height: 1.3;
}

.right-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 2rem;
  box-shadow: 0 8px 24px 2px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  height: auto;
}

.input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  /* padding-right: 2rem;
  background-color: #2ec4b6; */
}

.half-boxes {
  display: flex;
  width: 100%;
  gap: 1.5rem;
}

label {
  color: #011c34;
}

input,
select {
  width: 100%;
  height: auto;
  padding: 0.8rem 1rem 0.8rem 0.5rem;
  border: 1px solid #f0f0f0;
  outline: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  padding-right: 25px;
}

input::placeholder {
  color: #c2c2c2;
}

.input-box.password,
.input-box.gender,
.input-box.activity {
  position: relative;
}

span {
  padding-right: 0.8rem;
  color: #c2c2c2;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 70%;
  transform: translateY(-60%);
}

.btn-box {
  width: 100%;
  height: auto;
  padding-block: 1rem;
  background-color: #2ec4b6;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  text-align: center;
}

.footer p {
  line-height: 1.6;
}

.footer p a {
  color: #2ec4b6;
  text-decoration: none;
}

option {
  color: #e3e3e3;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding-inline: 2rem;
    align-items: center;
    gap: 2rem;
  }

  .left-container,
  .right-container {
    width: 100%;
    align-items: center;
  }
  .right-container {
    padding-inline: 2.5rem;
  }

  .left-container {
    align-items: start;
  }

  .logo-box img {
    width: 3rem;
  }

  .text {
    width: 100%;
  }

  .half-boxes {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .right-container {
    padding-inline: 1.5rem;
  }
}
